<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome, {{ session.username }}!</p>
    <p><a href="{{ url_for('api_keys') }}">API Keys</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>